[submodule "site-lisp/centaur-tabs"]
	path = site-lisp/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs.git
[submodule "site-lisp/dired-hacks"]
	path = site-lisp/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
[submodule "site-lisp/libgit"]
	path = site-lisp/libgit
	url = https://github.com/magit/libegit2.git
[submodule "site-lisp/company-tabnine"]
	path = site-lisp/company-tabnine
	url = https://github.com/TommyX12/company-tabnine.git
[submodule "site-lisp/emacs-ccls"]
	path = site-lisp/emacs-ccls
	url = https://github.com/MaskRay/emacs-ccls.git
[submodule "site-lisp/lsp-treemacs"]
	path = site-lisp/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = git@github.com:magnars/expand-region.el.git
[submodule "site-lisp/diff-hl"]
	path = site-lisp/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "site-lisp/lsp-ui"]
	path = site-lisp/lsp-ui
	url = git@github.com:emacs-lsp/lsp-ui.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
