[submodule "site-lisp/centaur-tabs"]
	path = site-lisp/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs.git
[submodule "site-lisp/dired-hacks"]
	path = site-lisp/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
[submodule "site-lisp/libgit"]
	path = site-lisp/libgit
	url = https://github.com/magit/libegit2.git
[submodule "site-lisp/company-tabnine"]
	path = site-lisp/company-tabnine
	url = https://github.com/TommyX12/company-tabnine.git
[submodule "site-lisp/emacs-ccls"]
	path = site-lisp/emacs-ccls
	url = https://github.com/MaskRay/emacs-ccls.git
[submodule "site-lisp/lsp-treemacs"]
	path = site-lisp/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = git@github.com:magnars/expand-region.el.git
[submodule "site-lisp/diff-hl"]
	path = site-lisp/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "site-lisp/lsp-ui"]
	path = site-lisp/lsp-ui
	url = git@github.com:emacs-lsp/lsp-ui.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "site-lisp/rg.el"]
	path = site-lisp/rg.el
	url = git@github.com:dajva/rg.el.git
[submodule "site-lisp/swiper"]
	path = site-lisp/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "site-lisp/vlfi"]
	path = site-lisp/vlfi
	url = git@github.com:m00natic/vlfi.git
[submodule "site-lisp/ztree"]
	path = site-lisp/ztree
	url = git@github.com:fourier/ztree.git
[submodule "site-lisp/all-the-icons.el"]
	path = site-lisp/all-the-icons.el
	url = git@github.com:domtronn/all-the-icons.el.git
[submodule "site-lisp/company-mode"]
	path = site-lisp/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "site-lisp/doom-modeline"]
	path = site-lisp/doom-modeline
	url = git@github.com:seagle0128/doom-modeline.git
[submodule "site-lisp/emacs-doom-themes"]
	path = site-lisp/emacs-doom-themes
	url = git@github.com:hlissner/emacs-doom-themes.git
[submodule "site-lisp/lsp-mode"]
	path = site-lisp/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
