[submodule "site-lisp/centaur-tabs"]
	path = site-lisp/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs.git
[submodule "site-lisp/dired-hacks"]
	path = site-lisp/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
