/auto-save-list
/server/
/image-dired/
/ido.last
/recentf
/transient/history.el
/eshell/history
/company-statistics-cache.el
/eshell/lastdir
/projectile-bookmarks.eld
/.lsp-session-v1
/.cache/treemacs-persist
/url/cache/
